body {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  /* padding-top: 70px; */
  height: 100%;
  margin: 0 30px;
  justify-content: center;
  align-items: center;

}

.navbar {
  overflow: hidden;
  background-color: rgb(19, 4, 4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}

.nav-active {
  float: right;
  display: block;
  color: #de2626;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.nav-item {
  float: right;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;

}